*{
    padding:0;
    margin:0;
}
header{
    background-color: rgb(165, 126, 42);
    height:100px;
    width:100%;
}

header a{
    color :brown;
    text-decoration:none;
}
header a:hover{
    text-decoration:underline;
}
header li{
    display:inline;
    margin-right:4vw;
}
header h2{
    position:absolute;
    right:2vw;
    top:0;
}
header ul{
    position:absolute;
    right:25vw;
    top:5vw;
}
h1 {
    position:absolute;
    top: 0;
    color:rgba(255, 0, 34, 0.521);
    background-repeat: no-repeat;
    background-position:center ;
    width:210px;
}
h2{
    color:rgba(255, 0, 34, 0.521);
}
.something{
    background-color:rgb(165, 126, 42);
}
.siu{
    
    background-color: white;
    color:white;
    height:80vh;
    background-image:url("image/image.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
header,section,footer{
    
    border:5px white;
    padding:30px 50px;
}
.siu p1{
    font-size: 50px;
    margin: 25px 0;
}
.siu p2{
    font-size: 30px;
    margin: 25px 0;
}
.siu a{
    color:white;
    text-decoration:none;
    margin: 30px 0;
    border:1px solid #ACACAC;
    padding:10px 20px;
    font-size: 30px;
    border-radius: 5px;
}

footer {
    position: absolute; 
    bottom: 0;
    right: 0; 
    background-color: rgb(18, 13, 1); 
    color: rgb(237, 234, 234); 
    padding: 10px; 
   
}
